.how-card{

}

.how-card__image{
  width: 320px;
}

.how-card__content{
  padding-left: 40px;
  margin-top: 40px;
}

.how-card__title{
  font-weight: 450;
  font-size: 30px;
  line-height: 40px;
}

.how-card__text{
  font-weight: 300;
  line-height: 20px;
  width: 300px;
  margin-top: 10px;
}