.footer{
  padding: 30px 0;
  margin-top: 190px;
}
@media (max-width: 991.98px) {

}
@media (max-width: 767.98px) {
  .footer{
    padding: 30px 0;
    margin-top: 126px;
  }
}


.footer__row{
  padding: 0 0 20px;
}

.footer__info{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  & a{
    color: inherit;
    text-decoration: none;
  }
}