.services{
  margin-top: 130px;
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
  .services{
    margin-top: 80px;
  }
}

.services__title{
  line-height: 64px;
  font-size: 50px;
  font-weight: 600;
}

.services__text{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.services__grid{
  margin-top: 90px;
}