.prof-card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;

  &:nth-of-type(even){
    flex-direction: row-reverse;
    transform: translateY(var(--offset-val));
  }
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
  .prof-card{
    flex-direction: column;
    justify-content: inherit;
    gap: 30px;
    &:nth-of-type(even){
      flex-direction: column;
      transform: none;
    }
  }
}

.prof-card__image{
  width: 310px;
  flex-shrink: 0;
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
  .prof-card__image{
    width: 320px;
    flex-shrink: 0;
  }
}

.prof-card__name{
  font-weight: 450;
  font-size: 26px;
  line-height: 40px;
  padding-bottom: 10px;
}
@media (max-width: 991.98px) {
  .prof-card__name{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .prof-card__name{
    font-size: 28px;
  }
}

.prof-card__text{
  font-weight: 300;
  line-height: 20px;
  font-size: 16px;
  max-width: 290px;
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
  .prof-card__text{
    font-size: 18px;
    max-width: unset;
  }
}

.prof-card__icons{
  padding-top: 30px !important;
  float: initial !important;
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
  .prof-card__icons{
    padding-top: 0 !important;
  }
}

.prof-card__content{

}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
  .prof-card__content{
    width: 100%;
  }
}