.service-text{
  padding: 0 15px;
}

.service-text__title{
  padding: 10px 0;
  font-weight: 450;
  font-size: 22px;
  line-height: 30px;
}

.service-text__text{
  font-weight: 300;
  line-height: 20px;
}