$grid-areas: a, b, c, d, e, f, g, h;
$i: 0;

.services-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px 300px auto;
  gap: 20px;
  grid-template-areas: "a a c ." "b e d g" ". f . h";

  @each $area in $grid-areas {
    $i: $i + 1;
    & > *:nth-child(#{$i}){
      grid-area: #{$area};
    }
  }
}

@media (max-width: 991.98px) {
  .services-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px auto 250px auto;
    grid-template-areas: "a c" "b d" "e g" "f h";
  }
}
@media (max-width: 767.98px) {
  .services-grid {
    display: block;
    & > *:last-of-type{
      margin-bottom: 0;
    }
  }
}