.prof__grid{
  --pb-add: 0;
  --offset-val: 300px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  row-gap: 240px;
  margin-top: 90px;
  padding-bottom: calc(var(--pb-add) * var(--offset-val));
}